<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="JoystickMerger.Feeder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="JoystickMerger.DualT16000M.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="SuncomControllerMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <JoystickMerger.Feeder.Properties.Settings>
            <setting name="PreferredJoyGuids" serializeAs="String">
                <value />
            </setting>
        </JoystickMerger.Feeder.Properties.Settings>
        <JoystickMerger.DualT16000M.Properties.Settings>
            <setting name="PreferredJoy1Guid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PreferredJoy2Guid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PreferredJoyGuids" serializeAs="String">
                <value />
            </setting>
        </JoystickMerger.DualT16000M.Properties.Settings>
        <SuncomControllerMerge.Properties.Settings>
            <setting name="PreferredJoy1Guid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PreferredJoy2Guid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </SuncomControllerMerge.Properties.Settings>
    </userSettings>
</configuration>
